{% extends "base.html" %}


{% block script %}
<script type="text/javascript">
    const socket = io();
    /* at connection, register to get update about theses classes */
    socket.on('connect', function(){
        socket.emit('registerObject', ['{{t.__class__.__name__}}','{{ t.name }}']);
    });
     /* when received update about a Tournament, just display it */
    socket.on('update{{t.__class__.__name__}}', function(msg) {
       var data = JSON.parse(msg);
        document.getElementById('div_nbPlayers').innerHTML = data['nbPlayers'];
        document.getElementById('div_phase').innerHTML = data['phase'];
        document.getElementById('div_score').innerHTML = data['score'];
        document.getElementById('div_nextPhaseButton').innerHTML = data['HTMLbutton'];
        document.getElementById('list_players').innerHTML = "<ul class='triple'>" + data['Players'].map(x=> "<li>"+x+"</li>").join("") + "</ul>";
        document.getElementById('list_games').innerHTML = "<ul>" + data['Games'].map(x => "<li>"+x+"</li>").join("") + "</ul>";
        /* configure the form to send data asynchroneously */
        $("#nextPhaseButton").click(function(){
           $.ajax({
                 type: 'POST',
                 url: "{{ base_url }}run_tournament/{{t.name}}",
                 data: $('#nextPhaseForm').serialize()
            });
        });
    });
</script>
{% endblock %}


{% block content %}
    <h1>Tournament {{t.name}}</h1>
<hr/>
Parameters:
<ul>
    <li>nb Max Players = {{t.nbMaxPlayers}}</li>
    <li>nb rounds for victory = {{t.nbRounds4Victory}}</li>
    <li>mode = {{t.mode}}</li>
</ul>
<!-- websocket-updated data -->
<hr/>

    <span id="div_nbPlayers"></span> players are registred:
<div id="list_players"></div>
<br/>
    <br/>
    <br/>
<hr/>

<div id="div_phase"></div><br/>
<div id="next_games"></div><br/>
<div id="list_games"></div>

    <form action="" id="nextPhaseForm">
    {{ t.HTMLgameoptions|safe }}
    <br/>
    <div id="div_nextPhaseButton"></div>
    </form>

<hr/>
<div id="div_score"></div>


{%  endblock %}
